*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

/* Navbar */
.navbar{
    position:sticky;
    top:0;
    width:100%;
    background:#0f172a;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    z-index:1000;
}

/* Logo */
.logo{
    color:#fff;
    font-size:24px;
    font-weight:bold;
}

/* Links */
.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:17px;
    transition:0.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

/* Hamburger Icon */
.menu-icon{
    display:none;
    color:white;
    font-size:24px;
    cursor:pointer;
}

/* Mobile Responsive */
@media(max-width:768px){

    .nav-links{
        position:absolute;
        top:70px;
        right:-100%;
        background:#0f172a;
        width:200px;
        flex-direction:column;
        text-align:center;
        padding:20px;
        transition:0.4s;
    }

    .nav-links.active{
        right:0;
    }

    .menu-icon{
        display:block;
    }
}

.hero{
    height:90vh;
    background:#0c2d3a;
    overflow:hidden;
}

/* Slide Layout */
.slide{
    display:none;
    height:90vh;
    padding:60px;
    align-items:center;
    justify-content:space-between;
}

.slide.active{
    display:flex;
}

/* LEFT SIDE (60%) */
.left{
    width:60%;
    color:white;
}

.left h4{
    letter-spacing:2px;
    margin-bottom:20px;
    color:white;
}

.left h1{
    font-size:70px;
    font-weight:300;
    color:#ac6bff;
    margin-bottom:20px;
}

.left p{
    font-size:20px;
    margin-bottom:40px;
    color:#d1d5db;
}

/* Button */
.btn{
    padding:15px 40px;
    border:2px solid #ac6bff;
    border-radius:40px;
    text-decoration:none;
    color:#ac6bff;
    transition:0.3s;
}

/* .btn:hover{
    background:#40d3dc;
    color:#0c2d3a;
} */

/* RIGHT SIDE (40%) */
.right{
    width:40%;
}

.right img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* Responsive */
@media(max-width:768px){

    .slide{
        flex-direction:column;
        text-align:center;
    }

    .left,.right{
        width:100%;
    }

    .left h1{
        font-size:40px;
    }
}
.about{
    height:80vh;
    background:
        linear-gradient(rgba(6,35,48,0.85),
        rgba(6,35,48,0.85)),
        url("https://picsum.photos/1400/900?tech");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

/* Content Box */
.about-content{
    max-width:800px;
    color:white;
}

/* Heading */
.about h2{
    font-size:42px;
    color:#40d3dc;
    margin-bottom:25px;
}

/* Paragraph */
.about p{
    font-size:18px;
    line-height:1.8;
    color:#d1d5db;
    margin-bottom:40px;
}

/* Buttons */
.about-buttons{
    display:flex;
    justify-content:center;
    gap:25px;
}

.outline-btn{
    padding:14px 35px;
    border:2px solid #40d3dc;
    border-radius:40px;
    text-decoration:none;
    color:#40d3dc;
    transition:0.3s;
}

/* .outline-btn:hover{
    background:#40d3dc;
    color:#062330;
} */

/* Mobile */
@media(max-width:768px){
    .about{
        height:auto;
        padding:60px 20px;
    }

    .about-buttons{
        flex-direction:column;
        gap:15px;
    }
}

.services{
    background:#0c2d3a;
    padding:80px 60px;
    text-align:center;
}

/* Heading */
.services h2{
    font-size:42px;
    color:#40d3dc;
    margin-bottom:60px;
}

/* Container */
.service-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

/* Service Box */
.service-box{
    background:#113b4b;
    padding:20px;
    border-radius:10px;
    transition:0.4s;
}

/* Image */
.service-box img{
    width:100%;
    border-radius:8px;
    margin-bottom:20px;
}

/* Title */
.service-box h3{
    color:#40d3dc;
    margin-bottom:10px;
}

/* Text */
.service-box p{
    color:#d1d5db;
    font-size:16px;
    line-height:1.6;
}

/* Hover Effect */
/* .service-box:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 25px rgba(0,0,0,0.4);
} */

/* Responsive */
@media(max-width:1000px){
    .service-container{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:600px){
    .service-container{
        grid-template-columns:1fr;
    }
}

.outcomes{
    background:#0c2d3a;
    padding:90px 60px;
    text-align:center;
}

/* Heading */
.outcomes h2{
    color:#40d3dc;
    font-size:42px;
    margin-bottom:60px;
}

/* Container */
.outcomes-container{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

/* Box */
.outcome-box{
    width:300px;
    padding:50px 30px;
    border:2px solid #40d3dc;
    border-radius:40px;
    color:white;
    transition:0.4s;
}

/* Title */
.outcome-box h3{
    color:#40d3dc;
    margin-bottom:30px;
}

/* Icon */
.icon{
    font-size:60px;
    margin-bottom:30px;
}

/* Text */
.outcome-box p{
    color:#d1d5db;
    line-height:1.6;
}

/* Hover */
/* .outcome-box:hover{
    transform:translateY(-10px);
    background:#113b4b;
} */

/* Responsive */
@media(max-width:900px){
    .outcomes-container{
        flex-direction:column;
        align-items:center;
    }
}
/* OUR APPROACH SECTION */
.approach {
    padding: 80px 10%;
    text-align: center;
    background: #f8f9fc;
}

.approach-title {
    font-size: 36px;
    margin-bottom: 50px;
    color: #222;
}

.approach-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.step {
    background: white;
    padding: 25px;
    width: 220px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

/* .step:hover {
    transform: translateY(-8px);
} */

.icon {
    font-size: 40px;
    margin-bottom: 15px;
}

.arrow {
    font-size: 30px;
    color: #007bff;
}
