*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}
/* NAVBAR */
.nav-links li a{
    text-decoration: none;
    /* color: #000; */
    padding: 8px 0;
    position: relative;
}

/* Hover underline */
.nav-links li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #ac6bff;
    transition: 0.3s;
}

.nav-links li a:hover::after{
    width: 100%;
}

/* ACTIVE PAGE */
.nav-links li a.active::after{
    width: 100%;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 10%;
    background:#111;
}

.logo{
    color:white;
    font-size:22px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    position:relative;
}

.nav-links a{
    color:white;
    text-decoration:none;
    padding:10px 15px;
    display:block;
}

/* DROPDOWN MENU */
.dropdown-menu{
    position:absolute;
    top:45px;
    left:0;
    background:white;
    list-style:none;
    width:200px;
    display:none;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.dropdown-menu li a{
    color:#333;
    padding:12px;
}

.dropdown-menu li a:hover{
    background:#f4f4f4;
}

/* SHOW DROPDOWN ON HOVER */
.dropdown:hover .dropdown-menu{
    display:block;
}

/* MENU ICON */
.menu-icon{
    color:white;
    font-size:24px;
    display:none;
    cursor:pointer;
}


.logo{
    display:flex;
    align-items:center;
    cursor:pointer;
}

/* Logo Image */
.logo-icon{
    width:50px;
    transition:0.4s;
}

/* Hidden Text */
.logo-text{
    margin-left:10px;
    font-size:22px;
    font-weight:600;
    color:#ac6bff;
    opacity:0;
    transform:translateX(-10px);
    transition:0.4s;
    white-space:nowrap;
}

/* Hover Effect */
.logo:hover .logo-text{
    opacity:1;
    transform:translateX(0);
}


/* Navbar */
.navbar{
    position:sticky;
    top:0;
    width:100%;
    background:black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    z-index:1000;
}

/* Logo */
.logo{
    color:#ac6bff;
    font-size:24px;
    font-weight:bold;
}

/* Links */
.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}
.nav-links a{
    position:relative;
    color:white;
    text-decoration:none;
    padding:10px 15px;
}

/* underline line */
.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:2px;
    background:white;
    transition:0.3s ease;
}

/* hover effect */
.nav-links a:hover::after{
    width:100%;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:17px;
    transition:0.3s;
}

.nav-links a:hover{
    color:grey;
}

/* Hamburger Icon */
.menu-icon{
    display:none;
    color:white;
    font-size:24px;
    cursor:pointer;
}

/* Mobile Responsive */
@media(max-width:768px){

    .nav-links{
        position:absolute;
        top:70px;
        right:-100%;
        background:#0f172a;
        width:200px;
        flex-direction:column;
        text-align:center;
        padding:20px;
        transition:0.4s;
    }

    .nav-links.active{
        right:0;
    }

    .menu-icon{
        display:block;
    }
}
.hero{
    height:90vh;
    background:black;
    overflow:hidden;
}

.slide{
    display:none;
    height:90vh;
    align-items:center;
    justify-content:space-between;
    gap:100px;
}

.slide.active{
    display:flex;
}
.hero{
    height:90vh;
    background:BLACK;
    overflow:hidden;
}

/* Slide Layout */
/* ======================
   CAROUSEL SECTION
====================== */



.slide.active{
    display:flex;
}

/* LEFT SIDE IMAGE (50%) */
.left{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.left img{
    width:100%;
    max-width:1000px;
    height:auto;
    object-fit:contain;
}

/* RIGHT SIDE TEXT (50%) */
.right{
       width:50%;
       color: white;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

/* Text Styles */
.right h4{
    letter-spacing:2px;
    margin-bottom:20px;
    color:white;
}

.right h1{
    font-size:65px;
    font-size: 3.75rem;
    font-weight:700;
    color:white;
    margin-bottom:20px;
}

.right p{
    font-size:20px;
    margin-bottom:40px;
    color:#d1d5db;
    line-height:1.6;
}

/* ======================
   COMPANY STATS
====================== */
.stat-box h2{
    font-size:48px;
    font-weight:bold;
    position:relative;
    display:inline-block;
    padding-top:12px;
}

/* LINE ABOVE NUMBER */
.stat-box h2::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:30px;          /* line size */
    height:4px;
    background:#ac6bff;    /* change color if needed */
}
.stats{
    display:flex;
    gap:50px;
    margin-top:40px;
}

.stat-box h2{
    font-size:42px;
    color:white;
    margin-bottom:8px;
    font-weight: 600;
}

.stat-box p{
    font-size:14px;
    color:#d1d5db;
    max-width:150px;
}


/* Button 
.btn{
    padding:15px 40px;
    border:2px solid #ac6bff;
    border-radius:40px;
    text-decoration:none;
    color:#ac6bff;
    transition:0.3s;
}

.btn:hover{
    background:#ac6bff;
    color:white;
}**/


/* Responsive */
/* ======================
   MOBILE RESPONSIVE
====================== */

@media(max-width:768px){

    .slide{
        flex-direction:column;
        text-align:center;
        height:auto;
        padding:80px 20px;
    }

    .left,
    .right{
        width:100%;
    }

    .right h1{
        font-size:40px;
    }

    .left img{
        max-width:350px;
    }

    .stats{
        flex-direction:column;
        align-items:center;
        gap:25px;
    }

    .stat-box{
        text-align:center;
    }
}

/************************************/

/* SECTION */
.recognition{
    height:200vh; /* important for scroll effect */
    background:#062330;
}

/* Sticky Wrapper */
.recognition-wrapper{
    position:sticky;
    top:0;
    height:100vh;
    display:flex;
    align-items:center;
    overflow:hidden;
}

/* IMAGE SIDE */
.recognition-image{
    width:60%;
    height:100%;
    overflow:hidden;
}

.recognition-image img{
    width:120%;
    height:100%;
    object-fit:cover;
    transform:translateX(0);
    transition:transform 0.2s linear;
}

/* TEXT SIDE */
.recognition-text{
    width:40%;
    padding:80px;
    color:white;
    opacity:0;
    transform:translateX(80px);
    transition:0.6s ease;
}

.recognition-text h2{
    font-size:42px;
    color:#40d3dc;
    margin-bottom:25px;
}

.recognition-text p{
    line-height:1.8;
    margin-bottom:20px;
    color:#d1d5db;
}


/*******************************/
.services{
    background:black;
    padding:80px 60px;
    text-align:center;
}

/* Heading */
.services h2{
    font-size:42px;
    color:white;
    margin-bottom:60px;
}

/* Container */
.service-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

/* Service Box */
/* .services{
    padding:80px 8%;
    background:#062330;
    text-align:center;
} */

.section-title{
    font-size:42px;
    color:#40d3dc;
    margin-bottom:60px;
    text-align: center;
}

/* GRID */
/* .service-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:35px;
} */
.service-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

/* CARD */
.service-card{
    position:relative;
    height:450px; /* LONG HEIGHT */
    border-radius:18px;
    overflow:hidden;
    cursor:pointer;
}

/* FRONT SIDE */
.card-front{
    position:absolute;
    inset:0;
}

.card-front img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* DARK OVERLAY */
.card-front::after{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(
        to top,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.2)
    );
}

/* TEXT ON IMAGE */
.card-text{
    position:absolute;
    top:30px;
    left:25px;
    right:25px;
    color:white;
    z-index:2;
    text-align:left;
}

.card-text h5{
    font-size:22px;
    margin-bottom:10px;
    color:#ac6bff;
}

.card-text p{
    font-size:15px;
    line-height:1.6;
}

/* HOVER PANEL */
.card-hover{
    position:absolute;
    inset:0;
    background:gray;
    color:white;
    padding:30px;
    opacity:0;
    transform:translateY(100%);
    transition:0.5s;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    text-align:left;
}

/* SHOW ON HOVER */
.service-card:hover .card-hover{
    opacity:1;
    transform:translateY(0);
}

/* HIDE IMAGE ON HOVER */
.service-card:hover .card-front{
    transform:scale(1.1);
    filter:blur(3px);
    transition:0.5s;
}

/* EXPAND BUTTON */
.expand-btn{
    align-self:flex-end;
    text-decoration:none;
    padding:10px 22px;
    /* border:2px solid #40d3dc; */
    border-radius:30px;
    color:black;
    transition:0.3s;
}

/* .expand-btn:hover{
    background:#40d3dc;
    color:#062330;
} */

/************************************/
/* SECTION */
.outcomes{
    background:black;
    padding:80px 60px;
}

.section-title{
    color:white;
    font-size:42px;
    margin-bottom:50px;
}

/* GRID */
.outcomes-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

/* BOX */
.outcome-box{
   height:450px;
    display:flex;
    flex-direction:column;
    border-radius:10px;
    overflow:hidden;
}

/* TEXT AREA = 30% */
.text-area{
     flex:0 0 30%;   /* exact 30% */
    background:black;
    color:white;
    padding:25px;
    z-index:2;      /* keeps text above */
}

/* NUMBER */
.text-area h3{
    font-size:32px;
    font-weight:bold;
    position:relative;
    padding-top:14px;
    margin-bottom:10px;
}

/* BOLD UNDERLINE ABOVE NUMBER */
.text-area h3::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:30px;
    height:4px;
    background:#ac6bff;
}

/* PARAGRAPH */
.text-area p{
    font-size:14px;
    line-height:1.6;
    color:#cbd5e1;
}

/* IMAGE AREA = 70% */
.image-area{
     flex:0 0 70%;   /* exact 70% */
}

.image-area img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.4s;
}

/* REVERSE LAYOUT */
.reverse{
    flex-direction:column-reverse;
}

/* HOVER EFFECT */
/* .outcome-box:hover{
    transform:translateY(-10px);
} */

/* .outcome-box:hover img{
    transform:scale(1.05);
} */



.success-stories{
    background:#000;
    color:white;
    padding:80px 8%;
    position:relative;
}

.section-title{
    font-size:42px;
    margin-bottom:50px;
}

/* Layout */
.story{
    display:none;
    align-items:center;
    gap:50px;
}

.story.active{
    display:flex;
}

/* Image */
.story-image{
    width:55%;
}

.story-image img{
    width:100%;
    height:420px;
    object-fit:cover;
}

/* Text */
.story-content{
    width:45%;
}

.story-content h3{
    font-size:28px;
    margin-bottom:20px;
}

.story-content p{
    color:#ccc;
    line-height:1.7;
    margin-bottom:25px;
}

.story-content a{
    color:#b066ff;
    text-decoration:none;
    font-weight:bold;
}

/* Controls */
.story-controls{
    position:absolute;
    right:8%;
    bottom:40px;
    display:flex;
    gap:20px;
    align-items:center;
}

.story-controls button{
    background:#222;
    border:none;
    color:white;
    padding:12px 18px;
    cursor:pointer;
}


/*************************************************/


.approach{
    background:black;
    color:white;
    padding:80px 8%;
    overflow:hidden;
}

.approach h2{
    font-size:42px;
    margin-bottom:50px;
    text-align: center;
}

/* Wrapper */
.approach-wrapper{
    overflow:hidden;
}

/* Track */
.approach-track{
    display:flex;
    transition:0.6s ease;
}

/* Cards */
.approach-card{
    min-width:33.33%;
    padding:30px;
}

.approach-card img{
    width:60px;
    margin-bottom:20px;
}

.approach-card h3{
    margin-bottom:15px;
}

.approach-card p{
    color:#aaa;
    line-height:1.6;
}

/* Controls */
.approach-controls{
    display:flex;
    justify-content:flex-end;   /* moves arrows to right */
    gap:15px;
    margin-top:30px;
}

.approach-controls button{
    background:#222;
    color:white;
    border:none;
    padding:12px 18px;
    cursor:pointer;
}
